<div class="markdownx row">
    <div class="col-md-6">
        <!-- Django 1.10 and below -->
        {{ SLIDERFORM }}
        <!-- Django 1.11+ 
        {% include 'textarea.html' %}
    </div>
    <div class="col-md-6">
        <div class="markdownx-preview"></div>
    </div>
</div>
