<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL }}activities/assets/css/main.css" />
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index.html">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li>
									<a href="#">Explore</a>
									<ul>
										<li>
											<a href="/leaderboard">Leaderboards</a>
										</li>
									</ul>
								</li>
								<li><a href="/feed/all/new/">Feed</a></li>
								<li class="current">
				                                    <a href="/dash/">UPLOAD</a>
                                				    <ul>
				                                        <li><a href="/new/run">New Run</a></li>
                                				        <li><a href="/new/cycle">New Bike Ride</a></li>
				                                        <li><a href="/new/hike">New Hike</a></li>
                                				        <!--<li><a href="#">New Climb</a></li>-->
				                                    </ul>
                                				</li>
								<li><a href="/logout/">Logout</a></li>
							</ul>
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">

								<!-- Content -->
									<article class="box post">
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
                                            <center>
                                                <h2>My Dashboard</h2>
                                                <p>{{ STEEM_ID }} ~ {{ ABOUT }}</p>
											</center>
										</header>
										<p>
											TOTAL ACTIVITIES UPLOADED: {{ RUN_COUNT }};
											TOTAL KM's RUN: {{ TOTAL_DIST }} km;
											TOTAL KM's CYCLED: {{ bikeDist }};
										    TOTAL TIME SPENT MOVING: {{ TOTAL_HRS }}h:{{ TOTAL_MINS }}m:{{ TOTAL_SECS }}s;
										    TOTAL STEEM EARNED: {{ TOTAL_REWARD }} STEEM Dollars<br>
										<center>FOLLOWERS: {{ FOLLOWERS }}, FOLLOWING: {{ FOLLOWING }}, FRIENDS: {{ FRIENDS }}</center><br>
										<center>
											<a href="#" class ="button alt small">General Stats</a>
											<!--<a href="#" class ="button alt small">Running Stats</a>
											<a href="#" class ="button alt small">Cycling Stats</a>
											<a href="#" class ="button alt small">Climbing Stats</a>-->
										</center>
										</p>
                                    </article>
									<article class="box post">
										{% block scatter %}
											{% include "scatterchart.html" %}
										{% endblock %}
									</article>
                                    <article class="box post">
										<section>
											<header>
												<h3>Activity History:</h3>
											</header>
											<p>
                                                <ul class="divided">
                                                    {% for run in RUN_LIST %}
                                                    <li><a href="/dash/run/{{ run.pk }}/">{{ run.title }} - Uploaded: {{ run.uploaded_at }}</a></li>
                                                    {% endfor %}
											</p>
										</section>
                                    </article>
                                    <article class="box post">
										<section>
											<header>
												<h3>Achievements</h3>
											</header>
											<p>
												What's life without achievements? Not a life worth living -- that's for sure. Achievements go here.
											</p>
										</section>
									</article>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section class="box">
										<header>
											<h3>Notifications</h3>
										</header>
										<ul class="divided">
											<li>Coming soon!</li>
										</ul>
										<footer>
											<a href="#" class="button alt">See More</a>
										</footer>
									</section>
									<section class="box">
										<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
										<header>
											<h3>Wallet at a Glance</h3>
										</header>
										<h6>STEEM POWER = {{ STEEM_POW }} SP</h6>
										<h6>SBD BALANCE = {{ SBD_BAL }}</h6>
										<h6>STEEM BALANCE = {{ STEEM_BAL }}</h6>
										<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
										<div class="coinmarketcap-currency-widget" data-currencyid="1230" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
										<div class="coinmarketcap-currency-widget" data-currencyid="1312" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
										<footer>
											<a href="https://steemit.com/@{{ STEEM_ID }}/transfers" class="button alt">Wallet</a>
										</footer>
									</section>

							</div>
						</div>
					</div>
				</section>

			{% block content %}
                {% include 'footer.html' %}
            {% endblock %}
		</div>

		<!-- Scripts -->
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/main.js"></script>

	</body>
</html>

