{% load static %}
<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - Activity Feed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'activities/assets/css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}" />
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>{% if user.is_authenticated %}
								<li><a href="/">Home</a></li>
								<li>
                                                                        <a href="#">Explore</a>
                                                                        <ul>
                                                                                <!--<li><a href="#">Map</a></li>
                                                                                <li><a href="#">Statistics</a></li>
                                                                                <li><a href="#">Everyone</a></li>-->
                                                                                <li>
                                                                                        <a href="/leaderboard">Leaderboards</a>
                                                                                </li>
                                                                        </ul>
								</li>
								<li class="current">
				                                    <a href="/feed/all/new/">FEED</a>
				                                    <ul>
                                				        <li><a href="#">Activity Type</a><ul>
                                                                                <li><a href="/feed/all/new/">All Activities</a></li>
										<li><a href="/feed/run/new/">Running</a></li>
				                	                        <li><a href="/feed/cycle/new/">Cycling</a></li>
										<li><a href="/feed/hike/new/">Hiking</a></li>
                                                                        </ul></li>
				                                    </ul>
				                                </li>
								<li><a href="/dash/">Dashboard</a></li>
								<li><a href="https://steemit.com/@{{ request.user }}/transfers">Wallet</a></li>
							</ul>
							{% else %}
                                                                <li><a href="/">Home</a></li>
                                                                <li>
                                                                        <a href="#">Explore</a>
                                                                        <ul>
                                                                                <!--<li><a href="#">Map</a></li>
                                                                                <li><a href="#">Statistics</a></li>
                                                                                <li><a href="#">Everyone</a></li>-->
                                                                                <li>
                                                                                        <a href="/leaderboard">Leaderboards</a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li class="current">
                                                                    <a href="/feed/all/new/">FEED</a>
                                                                    <ul>
                                                                        <li><a href="#">Activity Type</a><ul>
                                                                                <li><a href="/feed/all/new/">All Activities</a></li>
                                                                                <li><a href="/feed/run/new/">Running</a></li>
                                                                                <li><a href="/feed/cycle/new/">Cycling</a></li>
                                                                                <li><a href="/feed/hike/new/">Hiking</a></li>
                                                                        </ul></li>
                                                                    </ul>
                                                                </li>

							{% endif %}
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12 col-12-medium imp-medium">

								<!-- Content -->
									<article>
										<a href="#" class="image featured"><img src="{{ cover_image }}" alt="" /></a>
										<header>
											<center>
											<h2>
												{% if ACTIVITY_TYPE == "run" %}Running Activities{% endif %}
                                                                                                {% if ACTIVITY_TYPE == "cycle" %}Cycling Activities{% endif %}
                                                                                                {% if ACTIVITY_TYPE == "hike" %}Hiking Activities{% endif %}
												{% if ACTIVITY_TYPE == "all" %}All Activities{% endif %}
											</h2>
											<h3>Most Recent</h3>
											<p></p>
											</center>
										</header>
									</article>
					                                    {% for run in RUNLIST %}
										{% if run.verb == "ran" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#ffe6e6">{% endif %}
                                                                                {% if run.verb == "rode" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#e6e6ff">{% endif %}
                                                                                {% if run.verb == "hiked" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#ccffcc">{% endif %}
                                                                                {% if ACTIVITY_TYPE != "all" %}<article class="box post">{% endif %}
										<div class="container">
											<div class="row">
												<div class="col-2 col-12-medium imp-medium">
													<p>
													<center><img src="/media/{{ run.photo }}" class="responsive" alt="No Image"/></center>
													</p>
												</div>
												<div class="col-10 col-12-medium imp-medium">
													<div class="row">
					                        			                    <p><a href='/feed/{% if run.verb == "ran" and ACTIVITY_TYPE == "all" %}run{% endif %}{% if run.verb == "rode" and ACTIVITY_TYPE == "all" %}cycle{% endif %}{% if run.verb == "hiked" and ACTIVITY_TYPE == "all" %}hike{% endif %}{% if ACTIVITY_TYPE != "all" %}{{ ACTIVITY_TYPE }}{% endif %}/{{ run.pk }}'>{{ run.title }}</a> || <a href='/@{{ run.user }}'>{{ run.user }}</a> {{ run.verb}} {{ run.distance }}km -- {{ run.inpast }} ago<br>
													{{ run.comments }}</p>
													</div>
													<div class="row">
														<div class="col-8 col-12-medium imp-medium" justify="right">
								                                                        <p><i class="icon alt fa-hourglass"></i> Duration: {{ run.duration }} minutes! |
															<i class="icon alt fa-bolt"></i> Pace: {{ run.pace }} minute/km | 
															<i class="icon alt fa-usd"></i> {{ run.reward }}</p>
														</div>
        			                                    {% if run.voted %}
														<div class="col-4 col-12-medium imp-medium">
															<center>
																<a href="#" class="button alt"><i class="icon alt fa-hand-peace-o"></i>  HIGH FIVED</a>
															</center>
														</div>
													    {% else %}
														<div class="col-4 col-12-medium imp-medium">
						                                            				<center>
																{% if user.is_authenticated %}
                                                                                                                                <a href="/vote/{{ run.permlink }}" class="button"><i class="icon alt fa-hand-paper-o"></i>  HIGH FIVE</a>
																{# include "voteslider.html" #}
																{% endif %}
															</center>
														</div>
			                                            {% endif %}
													</div>
												</div>
											</div>
										</div>
									</article>
                                    {% endfor %}

							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				{% block footer %}
                    {% include 'footer.html' %}
                {% endblock %}

		</div>

		<!-- Scripts -->
			<script src="{% static '/activities/assets/js/jquery.min.js' %}"></script>
			<script src="{% static '/activities/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static '/activities/assets/js/browser.min.js' %}"></script>
			<script src="{% static '/activities/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/activities/assets/js/util.js' %}"></script>
			<script src="{% static '/activities/assets/js/main.js' %}"></script>
			<script type='text/javascript' src="{% static 'js/jquery-ui.js' %}"></script>
	</body>
</html>
