<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - Article by @{{ AUTHOR }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL}}/activities/assets/css/main.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
                                                                <li class="current"><a href="/@{{ AUTHOR }}">@{{ AUTHOR }}</a></li>
								<li>
									<a href="#">Explore</a>
									<ul>
										<li><a href="/leaderboard">Leaderboards</a></li>
									</ul>
								</li>
								<li><a href="/feed/all/new/">Feed</a></li>
								<li><a href="/dash/">Dashboard</a></li>
								<li><a href="/dash/">Wallet</a></li>
							</ul>
						</nav>

				</section>
			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								<header>
									<h2>{{ TITLE }}</h2>
									<p>by @{{ AUTHOR }}</p>
								</header>
								{{ BODY|safe }}
								<br>
								{% if VOTED %}
								<a href="" class="button alt"><i class="icon alt fa-hand-paper-o"></i>  VOTED!</a>
								{% else %}
								<a href="/vote/@{{ AUTHOR }}/{{ PERMLINK }}/" class="button"><i class="icon alt fa-hand-paper-o"></i>  HIGH FIVE</a>
								{% endif %}
							</article>
                                                        <article class="box">
                                                                <div class="row">
                                                                        <div class="col-12 col-12-medium imp-medium">
                                                                                                        <h3>New Comment</h3>
                                                                                                        <form method="post">
                                                                                                                {% csrf_token %}
                                                                                                                {{ COMMENTER }}
                                                                                                                <input type="submit" value="COMMENT">
                                                                                                        </form>
                                                                        </div>
                                                                </div>
                                                        </article>
							<header><center>COMMENTS</center></header>
							{% for comment in COMMENTS %}
							<article class="box">
								<div class="row">
									<div class="col-12 col-12-medium imp-medium">
								<h5><a href="/@{{ COMMENTS[comment]['AUTHOR'] }}">{{ COMMENTS[comment]['AUTHOR'] }}</a>:</h5>
								{{ COMMENTS[comment]['BODY']|safe }}
								{{ COMMENTS[comment]['REWARD'] }} |
								{{ COMMENTS[comment]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
								{{ COMMENTS[comment]['NUMREPLIES'] }} <i class="icon fa-comment-o"></i> |
								{% if COMMENTS[comment]['VOTED'] %}
									<a href='#'><i class="icon fa-thumbs-up"></i>   VOTED!</a>
								{% else %}
									<a href='/vote/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}/'>HIGH FIVE   <i class="icon fa-hand-paper-o"></i></a>
								{% endif %}
									<a href='/article/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}'>REPLY   <i class="icon fa-comment"></i></a><br>
									</div>
								</div>
								<div class="row">
									<div class="col-1 col-12-medium imp-medium">
									</div>
									<div class="col-11 col-12-medium imp-medium">
								{% for reply in COMMENTS[comment]['REPLIES'] %}
									<h5><a href="/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}">{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}</a>:</h5>
									{{ COMMENTS[comment]['REPLIES'][reply]['BODY']|safe }}
									{{ COMMENTS[comment]['REPLIES'][reply]['REWARD'] }} |
									{{ COMMENTS[comment]['REPLIES'][reply]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
									{% if COMMENTS[comment]['REPLIES'][reply]['VOTED'] %}
										<a href=''><i class="icon fa-thumbs-up"></i>   VOTED!</a>
									{% else %}
										<a href='/vote/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}/'>HIGH FIVE   <i class="icon fa-hand-paper-o"></i></a>
									{% endif %}
										<a href='/article/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}'>REPLY   <i class="icon fa-comment"></i></a><br>
								{% endfor %}
									</div>
								</div>
							</article>
							{% endfor %}
					</div>
				</section>

                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}

		</div>

		<!-- Scripts -->
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/main.js"></script>

	</body>
</html>
