<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - {{ RUNNER }}: {{ RUN.title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL}}/activities/assets/css/main.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
							{% if user.is_authenticated %}
								<li><a href="/">Home</a></li>
								<li>
									<a href="#">Explore</a>
									<ul>
										<li><a href="/leaderboard">Leaderboards</a></li>
									</ul>
								</li>
								<li><a href="/feed/all/new/">Feed</a></li>
								<li class="current"><a href="/dash/">DASHBOARD</a></li>
								<li><a href="/logout/">Logout</a></li>
							</ul>
						{% else %}
                                                                <li><a href="/">Home</a></li>
                                                                <li>
                                                                        <a href="#">Explore</a>
                                                                        <ul>
                                                                                <li><a href="/leaderboard">Leaderboards</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li><a href="/feed/all/new/">Feed</a>
								</li>
						{% endif %}
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

						<!-- Content -->
								<section>
									<header>
										<h2>{{ RUNNER }} - {{ RUN.title }}</h2>
									</header>
									{% if SUBMITTED or STEEM_ID == RUNNER %}
										<h4>
										{{ RUN_NOTES }}
										</h4>
										<p><center>
											<i class="icon alt fa-calendar"></i> {{ RUN_DATE }} ||
											<i class="icon alt fa-road"></i> {{ DISTANCE }} km ||
											<i class="icon alt fa-hourglass"></i> {{ HOURS }}:{{ MINUTES }}:{{ SECONDS }} ||
											<i class="icon alt fa-clock-o"></i> {{ AVGPACE }} min/km ||
											{% if RUN.gpsfile %}
											<i class="icon alt fa-star"></i> BEST SPLIT KM ||
											<i class="icon alt fa-bolt"></i> FASTEST PACE ||
											<i class="icon alt fa-space-shuttle"></i> {{ ASCENT }}m Climbed
												{% if HRAVG == 'NO HR DATA' %}
												{% else %}
											||<i class="icon alt fa-heart"></i> AVG HR: {{ HRAVG }} ||
											<i class="icon alt fa-heartbeat"></i> MAX HR: {{ HRMAX }}
												{% endif %}
											{% endif %}
											</center>
										</p>
										<div class="row">
											<div class="col-6 col-6-medium col-12-small">
												<section class="box">
													<center><img src="{{ IMG_LINKS[0] }}" alt="{{ IMG_LINKS[0] }}" class='responsive'></center>
													{% if not SUBMITTED %}
														<center>This run hasn't been posted to STEEM yet! <a href="post/">Do it now!</a></center>
														<center>*BENEFICIARY SHARES CURRENTLY = 20% TO POWER UP @EXHAUST*</center>
													{% else %}
														<center>
															<i class="button alt">{{ REWARD }}</i> |
															<i class="button alt">{{ COMCOUNT }}   <i class="icon alt fa-comment-o"></i></i>  |
															<i class="button">{{ RUN.votes }}   <i class="icon alt fa-hand-paper-o"></i></i>  |

															{% if RUN.user.is_authenticated and not RUN.voted %}
																<a href="/vote/{{ ACTIVITY_TYPE }}/{{ RUN.pk}}/"><i class="button">High Five?</i></a>
															{% endif %}
														</center>
													<center>View <a href="/article/{{ RUN.permlink }}">STEEM Post</a></center>
													{% endif %}
												</section>
											</div>
											<div class="col-6 col-12-medium col-12-small">
												<section class="box">
													<p>Coming Soon: Maps!</p>
												</section>
											</div>
										</div><br>
										<div class="row">
											<div class="col-12 col-12-medium col-12-small">
												<section class="box">
													<header>
														<h3>Statistics and Analysis</h3>
 													</header>
												{% if RUN.gpsfile %}
												{% if ACTIVITY_TYPE != 'hike' %}
												<div class="row">
													<div class="col-1 col-12-medium col-12-small">
														<p>SPLITS:</p>
													</div>
													<div class="col-11 col-12-medium col-12-small">
														{% block splits %}
															{% include "splitchart.html" %}
														{% endblock %}
													</div>
												</div>
												<div class="row">
													<div class="col-1 col-12-medium col-12-small">
														<p>PACE:</p>
													</div>
													<div class="col-11 col-12-medium col-12-small">
														{% block pace %}
															{% include "chart.html" %}
														{% endblock %}
													</div>
												</div>
												{% endif %}
												<div class="row">
													<div class="col-1 col-12-medium col-12-small">
														<p>ELEV:</p>
													</div>
													<div class="col-11 col-12-medium col-12-small">
														{% block elevation %}
															{% include "elevchart.html" %}
														{% endblock %}
													</div>
												</div>
													{% if HRAVG == 'NO HR DATA' %}
													{% else %}
												<div class="row">
													<div class="col-1 col-12-medium col-12-small">
														<p>HR:</p>
													</div>
													<div class="col-11 col-12-medium col-12-small">
														{% block hr %}
															{% include "heartchart.html" %}
														{% endblock %}
													</div>
													{% endif %}
												</div>
												{% endif %}
												</section>
											</div>
										</div><br>
										<div class="col-12 col-6-medium col-12-small">
											<article class="box">
												<div class="row">
													<div class="col-12 col-12-medium imp-medium">
														<h3>New Comment</h3>
														<form method="post">
	    													{% csrf_token %}
    														{{ COMMENTER }}
    														<input type="submit" value="COMMENT">
														</form>
													</div>
												</div>
											</article>
											{% for comment in COMMENTS %}
											<article class="box">
												<div class="row">
													<div class="col-12 col-12-medium imp-medium">
														<h5><a href="/@{{ COMMENTS[comment]['AUTHOR'] }}">{{ COMMENTS[comment]['AUTHOR'] }}</a>:</h5>
															{{ COMMENTS[comment]['BODY']|safe }}
															{{ COMMENTS[comment]['REWARD'] }} |
															{{ COMMENTS[comment]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
															{{ COMMENTS[comment]['NUMREPLIES'] }} <i class="icon fa-comment-o"></i> |
															{% if COMMENTS[comment]['VOTED'] %}
																<a href='#'><i class="icon fa-thumbs-up"></i>   VOTED!</a> |
															{% else %}
																<a href='/vote/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}/'>HIGH FIVE   <i class="icon fa-hand-paper-o"></i></a>
															{% endif %}
																<a href='/article/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}'><i class="icon fa-comment">REPLY</i></a>
													</div>
												</div>
												<div class="row">
													<div class="col-1 col-12-medium imp-medium">
													</div>
													<div class="col-11 col-12-medium imp-medium">
														{% for reply in COMMENTS[comment]['REPLIES'] %}
															<h5><a href="/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}">{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}</a>:</h5>
															{{ COMMENTS[comment]['REPLIES'][reply]['BODY']|safe }}
															{{ COMMENTS[comment]['REPLIES'][reply]['REWARD'] }} |
															{{ COMMENTS[comment]['REPLIES'][reply]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
															# <i class="icon fa-comment-o"></i> |
															{% if COMMENTS[comment]['REPLIES'][reply]['VOTED'] %}
																<a href=''><i class="icon fa-thumbs-up"></i>   VOTED!</a>
															{% else %}
																<a href='/vote/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}/'>HIGH FIVE   <i class="icon fa-hand-paper-o"></i></a>
															{% endif %}
																<a href='/article/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}'>REPLY   <i class="icon fa-comment"></i></a><br>
														{% endfor %}
													</div>
												</div>
											</article>
											{% endfor %}
										{% else %}
											<section class="box">
												<center><h2>This run has not been made public yet!</h2></center>
											</section>
										{% endif %}
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</section>

			
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}

		</div>

		<!-- Scripts -->
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>
