{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ dataform }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="">Return to home</a></p>
{% endblock %}
