<html>
  <head>
  <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

<center><canvas id="elevChart" width="300" height="200" style="border:0px solid #000000;"></canvas></center>
<script>
var ctx = document.getElementById("elevChart").getContext('2d');
var Chart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            borderColor: 'rgba(62,109,1,1)',
            backgroundColor: 'rgba(62,109,1,0.3)',
            pointRadius: 2,
            label: 'Elevation',
            data: [{% for point in ELEV %}{
              x: {{ point[0] }},
              y: {{ point[1] }},
            },{% endfor %}
            ],
            borderWidth: 2,
        }],
    },
    options: {
        legend: {
            display: false,
            position: 'left',
        },
        layout: {
            padding: {
                top: 10,
                right: 10,
            },
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            xAxes: [{
                ticks: {
                    min: 0,
                    stepSize: 0.5,
                    },
                 }],
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }],
        }
    }
});
</script>

</body>
</html>
