			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<section>
									<header>
										<h2>Blog Posts and Updates from EXHAUST</h2>
									</header>
									<ul class="dates">
										<li>
											<span class="date">Jan <strong>27</strong></span>
											<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
											<p>Testing if this now updates on all pages!!!</p>
										</li>
										<li>
											<span class="date">Jan <strong>23</strong></span>
											<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
											<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
										</li>
										<li>
											<span class="date">Jan <strong>15</strong></span>
											<h3><a href="#">Magna tempus lorem feugiat</a></h3>
											<p>Testing if this now updates on all pages!!!</p>
										</li>
									</ul>
                                                                        <ul><a href="#" class="button">More</a></ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>What's this all about?</h2>
									</header>
									<a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
									<p>
										This is <strong>EXHAUST</strong>. A free, community driven approach to incentivize people to get active. Leveraging the cutting edge STEEM blockchain allows users to earn rewards, and participate in a globally connected ecosytem of <a href="https://busy.org">bloggers</a>, <a href="https://steepshot.io">photographers</a>, <a href="https://d.tube">videographers</a>, <a href="https://vimm.tv">streamers</a>, <a href="https://utopian.io">developers</a> and more. (Shoutout to the wizard(s) at <a href="https://html5up.net">HTML5UP</a> for the great website template that has let us get started!)
									</p>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section>
									<header>
										<h2><a href="#">FAQ - EXHAUST</a></h2>
									</header>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section>
									<header>
										<h2><a href="https://steemit.com/faq.html">FAQ - STEEM</a></h2>
									</header>
								</section>
							</div>
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Exhaust. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>
