<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <ul class="nav navbar-nav">
				Hello!!!
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'voteslider.html' %}
            </div>
	</div>
	<div class="row">
<div class="markdownx row">
    <div class="col-md-6">
        {% include 'textarea.html' %}
    </div>
    <div class="col-md-6">
        <div class="markdownx-preview">Where is this!?</div>
    </div>
</div>
    </div>
</div>
</body>
</html>
