{% block fileupload %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-4 col-12-medium imp-medium">
        {{ dataform }}
      </div>
      <div class="col-5 col-12-medium imp-medium"><br>
        <ul>Please choose a title for your post;</ul>
        <ul><h4>Either input Activity Data:</h4></ul>
	<li>   Distance (ex. "10.1" km);</li>
	<li>   Duration (hh:mm:ss);</li>
	<li>   Start time;</li>
	<li>   Activity Date</li>
	<ul><h4>Or select a GPS file (TCX or GPX formats supported):</h4></ul>
        <ul>Upload up to three photos;</ul>
        <ul>Total upload limit = 30Mb;</ul>
      </div>
      <div class="col-3 col-12-medium imp-medium">
        {{ photoform }}
        <br><br><br><br>
        {{ gpsform }}
      </div>
    </div>
    {{ commentform }}
    <br><center><button type="submit">Upload</button></center>
  </form>
<ul>Title is required;</ul>
<ul>Either select GPS file, or fill out distance and duration fields.</ul>

  <p><a href="/dash/">Nevermind -- Return to Dashboard</a></p>
{% endblock %}
