{% extends 'ajaxbase.html' %}

{% block javascript %}
  <script>
    $("#id_weight").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock   %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Vote</button>
  </form>
{% endblock %}
